<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="projectsCollection" type="TfsGource.Configuration.ProjectsSection, TfsGource" />
  </configSections>
  <appSettings>
    <add key="UserRegistryPath" value="SOFTWARE\Janison\Gource" />
    <add key="WindowedScriptFileName" value="run-gource-windowed.bat" />
    <add key="FullscreenScriptFileName" value="run-gource-fullscreen.bat" />
    <add key="AutoShutdownTime" value="1730" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <projectsCollection>
    <projects>
      <project title="Project 1 (7 days)" projectPaths="$/x, $/xx" days="7" enabled="true" />
      <project title="Project 2 (14 days)" projectPaths="$/x, $/xx" days="14" enabled="true" />
    </projects>
  </projectsCollection>
</configuration>
